extends layout/layout.pug

block content

 nav.navbar.navbar-inverse(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Khủng Long Ăn Cỏ
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li.active
          a(href='/') Home
        li
          a(href='/users') List Students
        li
          a(href='/users/create') New Student

 .container(style='text-align: center')
  h1(style='font-weight: 800; color:blue') Welcome &dstrok;&#x1EBF;n v&#x1EDB;i app qu&#x1EA3;n l&yacute; c&ugrave;i b&#x1EAF;p c&#x1EE7;a Lu&acirc;n
  h2 B&#x1EA0;n c&oacute; th&#x1EC3; qu&#x1EA3;n l&yacute; h&#x1ECD;c sinh, ng&#x1B0;&#x1EDD;i d&ugrave;ng, &dstrok;&#x1ED3; d&ugrave;ng m&#x1ED9;t c&aacute;ch c&ugrave;i b&#x1EAF;p  
  a(href="/users")
    button.btn.btn-info(type='button') Show danh s&aacute;ch &dstrok;ang qu&#x1EA3;n l&yacute; hi&#x1EC7;n t&#x1EA1;i 




  


  
