extends layout/layout.pug

block content

 nav.navbar.navbar-inverse(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Khủng Long Ăn Cỏ
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li.active
          a(href='/') Home
        li
          a(href='/users') List Students
        li
          a(href='/users/create') New Student

 .container(style='text-align: center')
  h1(style='font-weight: 800; color:blue') Test app quản lý basic
  h2 
  a(href="/users")
    button.btn.btn-info(type='button') Show danh s&aacute;ch &dstrok;ang qu&#x1EA3;n l&yacute; hi&#x1EC7;n t&#x1EA1;i 




  


  
