
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css')
  link(rel='stylesheet', href='../public/style/viewUser.css' type='text/css')
  script(src='https://code.jquery.com/jquery.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
nav.navbar.navbar-inverse(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Khủng Long Ăn Cỏ
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li.active
          a(href='/') Trang chủ
        li
          a(href='/users') Danh sách học sinh
        li
          a(href='/users/create') Tạo Học sinh 
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/auth/login" )
            if(user)
              u= user.name
            
.container.col-md-6(style="float:right")
  form(action='/users/search', method='get', role='form' )
    legend Search
    .form-group.col-md-6
      .col-xs-9.col-sm-9.col-md-9.col-lg-9
        input.form-control(type='text', name='q', placeholder='Mã Sinh Viên')
      .col-xs-3.col-sm-3.col-md-3.col-lg-3
        button.btn.btn-primary(type='submit') 
         i.fas.fa-search.fa-1x
.col-md-6
table.table.table-hover
  thead
    tr
      th Mã Sinh Viên
      th Tên
      th SĐT
      th Mô tả
      th 
  tbody
  each user in users
   tr
    td= user.MSV
    td= user.name
    td= user.phone 
    td
     a(href="/users/view/" + user._id)
      button.btn.btn-primary(type='button') Mô tả
    td 
     a(href="/users/remove" + user._id) 
      button.btn.btn-danger(type='button') Xóa

  
