
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title
  // Latest compiled and minified CSS & JS
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  script(src='https://code.jquery.com/jquery.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
nav.navbar.navbar-inverse(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Maneger Student
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li.active
          a(href='/') Home
        li
          a(href='/users') List Students
        li
          a(href='/users/create') New Student
.row(style='margin:0 auto; width: 70%')
  
  h3 Sinh vi&ecirc;n
  ul
    li
      hr
      b T&ecirc;n : 
      span= user.name
    li
      hr
      b Avartar 
      img(src= user.avatar)
    li
      hr
      b S&Dstrok;T : 
      span= user.phone
    li
      hr
      b M&atilde; Sinh Vi&ecirc;n : 
      span= user.MSV
    li
      hr
      b Ch&uacute; Th&iacute;ch : 
      span= user.describe


button 
 a(href="/users")
